<div
  class="d-flex align-items-center justify-content-center"
  style="height: 100vh"
>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        aria-describedby="nameHelp"
        placeholder="Enter a name"
        formControlName="name"
      />
    </div>
    <div class="form-group">
      <label for="nickname">Nickname</label>
      <input
        type="text"
        class="form-control"
        id="nickname"
        aria-describedby="nicknameHelp"
        placeholder="Enter nickname"
        formControlName="nickname"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        formControlName="password"
      />
    </div>
    <div class="form-group">
      <label for="bot">Bot</label>
      <input
        type="text"
        class="form-control"
        id="bot"
        aria-describedby="botHelp"
        placeholder="Enter chat mode"
        formControlName="bot"
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary w-100"
      [disabled]="!signupForm.valid"
    >
      Submit
    </button>
  </form>
</div>
