<div
  class="d-flex align-items-center justify-content-center"
  style="height: 100vh"
>
  <div class="container w-50">
    <h1>{{ authService.user.name }}</h1>
    <div class="row w-100 my-2">
      <div ngbDropdown class="d-inline-block w-100">
        <button
          class="btn btn-outline-primary w-100"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          Friends
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button
            ngbDropdownItem
            *ngFor="let onlineUser of onlineUsers"
            (click)="setFriendRoom(onlineUser)"
          >
            {{ onlineUser.name }}
          </button>
        </div>
      </div>
    </div>
    <div class="row w-100">
      <div #scrollMe class="overflow-auto w-100" style="height: 50vh">
        <div *ngFor="let message of messages">
          <span
            ><strong>{{ message.nickname + ": " }}</strong></span
          >
          <span *ngIf="!message.content.includes('data:image/png;base64')">{{
            message.content
          }}</span>
          <img
            [src]="message.content"
            *ngIf="message.content.includes('data:image/png;base64')"
          />
        </div>
      </div>
    </div>
    <div class="row w-100">
      <div class="col">
        <input
          class="w-100"
          type="text"
          name="message"
          id="message"
          [(ngModel)]="message"
          (keydown.enter)="sendMessage()"
        />
      </div>
      <div class="col">
        <button class="btn btn-success w-100" (click)="sendMessage()">
          Send
        </button>
      </div>
    </div>
  </div>
</div>
